.placarContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagem-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
}

.imagem-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.botoes {
    position: absolute;
    right: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
